package $modeledClass.basePackage;


public class ${modeledClass.name}  {

#foreach($parameter in $modeledClass.parameters)
    private ${parameter.type} ${parameter.name};
#end


#foreach($parameter in ${modeledClass.parameters})
    public $parameter.type ${parameter.getterName}(){
           return $parameter.name;
    }

#end


#foreach($parameter in ${modeledClass.parameters})
    public void ${parameter.setterName}($parameter.type $parameter.name){
           this.${parameter.name} = $parameter.name;
    }

#end

}
